@model IEnumerable<Activity2.Models.ProductModel>

<p>
    <a asp-action="InputForm">Create New</a>
</p>

<div class="container">
    <div class="row d-flex flex-wrap">
        @foreach (var item in Model)
        {
            var s = item.Name;
            var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://loremflickr.com/g/150/150/@firstWord?lock=@item.Id" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@Html.DisplayFor(m => item.Price)</p>
                        <p class="card-text">@item.Description</p>
                        <a href="/Product/ShowDetails/@item.Id" class="btn btn-primary">Details</a>
                        <a href="/Product/Edit/@item.Id" class="btn btn-warning">Edit</a>
                        <a href="/Product/Delete/@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
